body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#010004;
    
} 


header {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    padding: 1rem 10rem;
    background-color: #000000;
    justify-content: center; /* Adjust this as needed */
    align-items: center; /* Center items horizontally */
    top: 0;
    background-image: url('istockphoto\ dark.jpg'); 
    /* Replace 'background.jpg' with the path to your image */ */
    background-size:cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    /* background-repeat: no-repeat; Do not repeat the image */
    height: 15vh; /* Adjust the height of the nav */
    
}

nav a {
    color: white;
    text-decoration:;
    margin-top: 4rem; 
    font-size: 1.5rem;
}

nav a:hover {
    color: #eddf13;
}


nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    font-size: 2rem; 
    color: #000000;
    margin-top: 6rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

    
}

.nav-links {
    display: flex; /* Display links horizontally */
    justify-content: space-evenly; /* Center links horizontally */
    gap: 20px; /* Adjust the space between links */
}


main {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    padding: 1rem 10rem;
    background-color: #d2ced8;
    background-image: url('istockphoto\ all\ dark.jpg'); 
    background-size:cover;
    justify-content: center; /* Adjust this as needed */
    align-items: center; /* Center items horizontally */
    height: 100vh; /* Adjust the height of the main */
}